<!DOCTYPE html>

<html lang="{{ page.lang }}">
  <head>
    <link rel="shortcut icon" href="https://www.gravatar.com/avatar/a0cc4d1c55ee3ae48437c4e7774355b7?s=32"
          type="image/png">
    <link rel="icon" href="https://www.gravatar.com/avatar/a0cc4d1c55ee3ae48437c4e7774355b7?s=32"
          type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="author" content="Sebastian Staudt">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container text-justify mt-5 pt-5 w-50">
      {{ content }}
    </div>
  </body>
</html>
